
$heading-family: 'Roboto Slab', serif;
$font-family: 'Roboto Slab', serif;
$form-font: 'Roboto', sans-serif;

$font-color: $light-color;
$heading-color: $light-color;

$font-size: 17px;

$button-primary-color: $light-color;
$button-primary-background-color: $primary-color;

$button-primary-hover-color: $light-color;
$button-primary-hover-background-color: $secondary-color;

$button-color: $light-color;
$button-hover-color: $muted-color;

$form-focus-border-color: $light-color;
