
@import url('https://fonts.googleapis.com/css?family=Pacifico|Roboto|Roboto+Slab');
@import "font-awesome-sprockets";
@import "font-awesome";

$dark-color: #222;
$light-color: #fff;

$primary-color: #ad443e;
$secondary-color: #993955;
$muted-color: #828a95;

@import 'skeleton';

.canvas {
  background-color: #222;
}

.canvas_wrapper {
  position: absolute;
}

.hero {
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.hero_title {
  font-family: 'Pacifico', cursive;
  position: relative;
}

.hero_icons {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: relative(24px);
  a, a:hover, a:visited {
    color: $light-color;
  }
}
.center {
  text-align: center;
}

#gravity_section {
  background: url(gravity.gif);
  background-size: cover;
  width: 100vw;
  position: relative;
}

.svg_icon>svg {
  width: 50%;
  max-height: 80px;
  margin: 0 auto;
}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-1px) scale(2);
}
