
@import url('https://fonts.googleapis.com/css?family=Pacifico|Roboto|Roboto+Slab');
@import "font-awesome-sprockets";
@import "font-awesome";

$dark-color: #1e1e1e;
$light-color: #fff;

$primary-color: #ad443e;
$secondary-color: #993955;
$muted-color: #828a95;

@import 'skeleton';

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 350px;
}


.canvas_wrapper {
  position: absolute;
  overflow: hidden;
  width: 100%;
}

.hero {
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.hero_title {
  font-family: 'Pacifico', cursive;
  position: relative;
}

nav {
  display: flex;
  height: 60px;
  align-items: center;
  font-size: relative(20px);
}

.nav_title {
  font-family: 'Pacifico', cursive;
  position: relative;
  display: block;
  color: $light-color;
  text-decoration: none;
  margin-right: 20px;

  &:hover, &:visited {
    text-decoration: none;
    color: $light-color;
  }
}

.nav_link, .nav_link:visited {
  text-decoration: none;
  font-style: italic;
  color: $light-color;
  font-size: relative(16px);

  &:hover, &:active {
    color: $muted-color;
  }
}

.nav_icons {
  margin-left: auto;

  .nav_link {
    font-size: relative(22px);
  }
}

.center {
  text-align: center;
}

.section {
  margin-bottom: 100px;
}

#gravity_section {
  background: url(gravity.gif);
  background-size: cover;
  width: 100vw;
  position: relative;
}

svg {
  width: 50%;
  clear: both;
}

.svg_icon>svg {
  width: 50%;
  max-height: 80px;
  margin: 0 auto;
}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-1px) scale(2);
}

.applet_icons {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
}

.applet_icons>div {
  flex: 1 0;
}


@import 'syntax';
