<!doctype html>
<html>

<head>
  <title>Edward Compton</title>
  <link rel="shortcut icon" href="{% asset_path favicon %}">
  {% stylesheet main %}
</head>

<body>
  <div class="container">

    {% include nav.html %}

    {% for post in site.posts %}
    <div class="blogPost">
      <h4 class="blogPost_title"><a href="{{ post.url }}">{{ post.title }}</a></h4>
      <p class="blogPost_meta">{{ post.date | date: "%B %e, %Y" }} &middot; {{ post.category }}</p>
      <p class="blogPost_excerpt">{{ post.excerpt | strip_html }}</p>
    </div>
    {% endfor %}

    <div class="row center">
      <p>&copy; Edward Compton {{ "now" | date: "%Y" }}</p>
    </div>
  </div>
</body>
