<!doctype html>
<html>

<head>
  <title>Edward Compton</title>
  <link rel="shortcut icon" href="{% asset_path favicon %}">
  {% stylesheet main %}
</head>

<body>
  <div class="container">

    {% include nav.html %}

    {% for post in site.posts %}
      {% if forloop.first == false %}
      <hr>
      {% endif %}
      <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
      <p><small><strong>{{ post.date | date: "%B %e, %Y" }}</strong> . {{ post.category }} . <a href="http://erjjones.github.com{{ post.url }}#disqus_thread"></a></small></p>

    {% endfor %}
  </div>
</body>
